/***** General CSS *****/
body {
    font-family: 'Sniglet', 'Comfortaa', cursive;
}

/***** Navbar *****/

.navbar {
    background: #FFFFFF;
    font-size: 15px
}

.nav-link {
    color: #707780;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-link:hover {
    color: #009ABB !important;
}

.navbar-brand {
    padding-right: 221px;
    background: url(/media/images/logo.png) left center no-repeat;
    border: 0;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #FFFFFF !important;
    border: 1px solid #707780 !important;
    border-radius: .25rem;
    margin-left:55px;
}

.book-button{
    color:#FFFFFF !important;
    font-size: 15px;
    background-color:#009ABB;
    margin:5px 33px 0px 25px;
    padding:9px 15px 10px 15px !important;
    border-radius:24px;
}

.book-button:hover{
    color:#FFFFFF !important;
    background-color:#007C92;
}

.social-icon {
    margin-right: 20px;
    display: inline-block;
    color: #707780;
    border: none;
    font-size: x-large;
}

.social-icon:hover{
    color:#009ABB;
}

/***** Carousel *****/
.carousel{
    margin-top:65px;
}

.carousel-item {
  height: 65vh;
  min-height: 65vh;
  background: no-repeat center center scroll;
  background-size: cover;
}

.background-highlight-one {
  font-size: 400%;
  color:#009ABB;
  font-weight: bold;
  height:52%;
}

.background-highlight-two {
  font-size: 300%;
  color:#FFFFFF;
  font-weight: bold;
  height:120px;
}
footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
} 

/***** Product Cards *****/

.card-img-top{
   max-height:190px;
}

.card-header{
  color: #707780;
  font-weight: bold;
  background-color:#FFFFFF !important;
  font-size: large;
}

.card-body-main {
  min-height: 180px;
  color: black;
  padding:16px 5px;
  font-size: medium;
  background-color:#FFFFFF !important;

}

.card-body-price {
  color: black;
  padding:16px 5px;
  font-size: medium;
  background-color:#FFFFFF !important;
}

.card-footer {
  width: 100%;
  display: block;
  background-color:#007C92 !important;
  color:#FFFFFF !important;
  font-size: 15px;
  margin:0;
}

/***** Contact Page *****/

.contact-form{
  margin-top:90px;
}

.alert{
  font-size:medium;
}

.form-tags, .form-errors{
  font-size:medium;
}

/***** About Us *****/

.flatpage-content{
  margin-top:100px;
}

.heading{
  color:black;
  font-weight:bold;
  border-bottom:5px solid #009ABB;
  font-size:30px;
}

#couple-photo{
  height:260px;
  width:auto;
}

#couple-text{
  font-size:18px;
  padding-top:10px;
}

.sub-heading{
  margin-top:30px;
  color:#707780;
  font-weight:bold;
  font-size:40px;
}

/***** Cart *****/

#cart-container{
  padding:75px;
}

/***** Media Queries *****/

@media only screen and (max-width: 321px){
.navbar-toggler {
  margin-left: 16px;
}
}

@media only screen and (max-width: 412px){
.background-highlight-two {
  font-size: 200%;
}
}