{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<!-- Get Stripes Js files from the url and locally -->
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}

<!-- Shows what product the user is attempting to book -->
{% for item in cart_items %}

    <div id="cart-container">
        <h1 class="col-6 mx-auto text-center heading">{{ item.product.name }}</h1>
    </div>
    <br>
    <div class="container-fluid mx-auto text-center">
        <h3 class="card-header form-header">€{{ item.product.price }} per session</h3>
    </div>
{% endfor %}

<!-- Hidden alert, shows if card details are not filled out correctly -->
    <div id="alert" class="alert alert-warning" role="alert" style="display:none;">
        Please review your card details!
    </div>

    <div id="alert-two" class="alert alert-warning" role="alert" style="display:none;">
        Please pick a Date & Time!
    </div>
    
<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <div id="cart-container">
        <h3 class="col-6 mx-auto text-center heading">Book A Date & Time</h3>
    </div>
    <!-- If the booking is not a Group Class booking then dispaly the first 8 available bookings in button form --> 
		<div class="btn-group row col-12 mx-auto" data-toggle="buttons">
    	{% if data.events.0.calendar_id != 'cal_XYjaVHVZYgBgrZFs_dUC2DLLCz8SKCrL07bzZmg'  %}
    		{% if data.events.0 is not None and data.events.0.description == ""  %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.0.start|slice:"8:10"}}/{{ data.events.0.start|slice:"5:7"}}/{{ data.events.0.start|slice:"0:4"}} at {{ data.events.0.start|slice:"11:16"}}
    				<input type="radio" name="what-button" autocomplete="off" value="{{ data.events.0 }}">
    			</label>
        {% endif %}
    	{% if data.events.1 is not None and data.events.1.description == "" %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button "><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.1.start|slice:"8:10"}}/{{ data.events.1.start|slice:"5:7"}}/{{ data.events.1.start|slice:"0:4"}} at {{ data.events.1.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.1 }}">
    			</label>
        {% endif %}
        {% if data.events.2 is not None and data.events.2.description == "" %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button "><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.2.start|slice:"8:10"}}/{{ data.events.2.start|slice:"5:7"}}/{{ data.events.2.start|slice:"0:4"}} at {{ data.events.2.start|slice:"11:16"}}
    				<input type="radio" name="what-button" autocomplete="off" value="{{ data.events.2 }}">
    			</label>
        {% endif %}
        {% if data.events.3 is not None and data.events.3.description == "" %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button "><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.3.start|slice:"8:10"}}/{{ data.events.3.start|slice:"5:7"}}/{{ data.events.3.start|slice:"0:4"}} at {{ data.events.3.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.3 }}">
    			</label>
        {% endif %}
        {% if data.events.4 is not None and data.events.4.description == "" %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button "><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.4.start|slice:"8:10"}}/{{ data.events.4.start|slice:"5:7"}}/{{ data.events.4.start|slice:"0:4"}} at {{ data.events.4.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.4 }}">
    			</label>
        {% endif %}
        {% if data.events.5 is not None and data.events.5.description == "" %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button "><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.5.start|slice:"8:10"}}/{{ data.events.5.start|slice:"5:7"}}/{{ data.events.5.start|slice:"0:4"}} at {{ data.events.5.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.5 }}">
    			</label>
        {% endif %}
        {% if data.events.6 is not None and data.events.6.description == "" %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button "><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.6.start|slice:"8:10"}}/{{ data.events.6.start|slice:"5:7"}}/{{ data.events.6.start|slice:"0:4"}} at {{ data.events.6.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.6 }}">
    			</label>
        {% endif %}
        {% if data.events.7 is not None and data.events.7.description == "" %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button "><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.7.start|slice:"8:10"}}/{{ data.events.7.start|slice:"5:7"}}/{{ data.events.7.start|slice:"0:4"}} at {{ data.events.7.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.7 }}">
    			</label>
        {% endif %}
                
            <!-- If the booking IS a Group Class booking then dispaly the first 8 available bookings in button form -->     
        {% else %}
            {% if data.events.0 is not None %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button "><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.0.start|slice:"8:10"}}/{{ data.events.0.start|slice:"5:7"}}/{{ data.events.0.start|slice:"0:4"}} at {{ data.events.0.start|slice:"11:16"}}
    				<input type="radio" name="what-button" autocomplete="off" value="{{ data.events.0 }}">
    			</label>
        {% endif %}
    		{% if data.events.1 is not None %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button "><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.1.start|slice:"8:10"}}/{{ data.events.1.start|slice:"5:7"}}/{{ data.events.1.start|slice:"0:4"}} at {{ data.events.1.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.1 }}">
    			</label>
        {% endif %}
            {% if data.events.2 is not None %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button "><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.2.start|slice:"8:10"}}/{{ data.events.2.start|slice:"5:7"}}/{{ data.events.2.start|slice:"0:4"}} at {{ data.events.2.start|slice:"11:16"}}
    				<input type="radio" name="what-button" autocomplete="off" value="{{ data.events.2 }}">
    			</label>
            {% endif %}
            {% if data.events.3 is not None %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button "><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.3.start|slice:"8:10"}}/{{ data.events.3.start|slice:"5:7"}}/{{ data.events.3.start|slice:"0:4"}} at {{ data.events.3.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.3 }}">
    			</label>
            {% endif %}
            {% if data.events.4 is not None %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button "><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.4.start|slice:"8:10"}}/{{ data.events.4.start|slice:"5:7"}}/{{ data.events.4.start|slice:"0:4"}} at {{ data.events.4.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.4 }}">
    			</label>
            {% endif %}
            {% if data.events.5 is not None %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button "><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.5.start|slice:"8:10"}}/{{ data.events.5.start|slice:"5:7"}}/{{ data.events.5.start|slice:"0:4"}} at {{ data.events.5.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.5 }}">
    			</label>
            {% endif %}
            {% if data.events.6 is not None %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button "><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.6.start|slice:"8:10"}}/{{ data.events.6.start|slice:"5:7"}}/{{ data.events.6.start|slice:"0:4"}} at {{ data.events.6.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.6 }}">
    			</label>
            {% endif %}
            {% if data.events.7 is not None %}
    			<label class="btn col-lg-3 col-md-5 col-sm-10 mx-auto checkout-radio account-page-button "><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.7.start|slice:"8:10"}}/{{ data.events.7.start|slice:"5:7"}}/{{ data.events.7.start|slice:"0:4"}} at {{ data.events.7.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.7 }}">
    			</label>
            {% endif %} 
        {% endif %}    
		</div>
    
    {% csrf_token %}
    <div id="cart-container">
        <h3 class="col-6 mx-auto text-center heading">Booking Details</h3>
    </div>
<div class="container col-12">
    <div class="form-group col-md-6">
        {{ order_form | as_bootstrap }} <!-- Order Form / Customer Details -->
    </div>

    <div class="form-group col-md-6">
        {{ payment_form | as_bootstrap }} <!-- Payment Form  --> 
    </div>
 </div>   
    <div class="container-fluid col-12 text-center mx-auto">
        <button id="submit_payment_btn" class="account-page-button book-button col-8 text-center mx-auto" name="commit" type="submit" value="Submit Payment"><i class="far fa-bookmark"></i> Submit Booking</button>
    </div>    

</form>
{% endblock %}
