{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
{% for item in cart_items %}
    <div id="cart-container">
        <h1 class="col-6 mx-auto text-center heading">{{ item.product.name }}</h1>
    </div>
    <br>
    <div class="container-fluid mx-auto text-center">
        <h3 class="card-header form-header">€{{ item.product.price }} per session</h3>
    </div>
{% endfor %}

<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
<div id="cart-container">
        <h3 class="col-6 mx-auto text-center heading">Book A Date & Time</h3>
    </div>
    <div id="alert" class="alert alert-danger" role="alert">
         No appointment time has been choosen, Please pick one
    </div>

	<div class="text-center">
		<div class="btn-group" data-toggle="buttons">
	    		{% if data.events.0.calendar_id != 'cal_XYjaVHVZYgBgrZFs_dUC2DLLCz8SKCrL07bzZmg'  %}
    		    {% if data.events.0 is not None and data.events.0.description == ""  %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.0.start|slice:"8:10"}}/{{ data.events.0.start|slice:"5:7"}}/{{ data.events.0.start|slice:"0:4"}} at {{ data.events.0.start|slice:"11:16"}}
    				<input type="radio" name="what-button" autocomplete="off" value="{{ data.events.0 }}">
    			</label>
                {% endif %}
    		    {% if data.events.1 is not None and data.events.1.description == "" %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.1.start|slice:"8:10"}}/{{ data.events.1.start|slice:"5:7"}}/{{ data.events.1.start|slice:"0:4"}} at {{ data.events.1.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.1 }}">
    			</label>
                {% endif %}
                {% if data.events.2 is not None and data.events.2.description == "" %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.2.start|slice:"8:10"}}/{{ data.events.2.start|slice:"5:7"}}/{{ data.events.2.start|slice:"0:4"}} at {{ data.events.2.start|slice:"11:16"}}
    				<input type="radio" name="what-button" autocomplete="off" value="{{ data.events.2 }}">
    			</label>
                {% endif %}
                {% if data.events.3 is not None and data.events.3.description == "" %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.3.start|slice:"8:10"}}/{{ data.events.3.start|slice:"5:7"}}/{{ data.events.3.start|slice:"0:4"}} at {{ data.events.3.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.3 }}">
    			</label>
                {% endif %}
                {% if data.events.4 is not None and data.events.4.description == "" %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.4.start|slice:"8:10"}}/{{ data.events.4.start|slice:"5:7"}}/{{ data.events.4.start|slice:"0:4"}} at {{ data.events.4.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.4 }}">
    			</label>
                {% endif %}
                {% if data.events.5 is not None and data.events.5.description == "" %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.5.start|slice:"8:10"}}/{{ data.events.5.start|slice:"5:7"}}/{{ data.events.5.start|slice:"0:4"}} at {{ data.events.5.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.5 }}">
    			</label>
                {% endif %}
                {% if data.events.6 is not None and data.events.6.description == "" %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.6.start|slice:"8:10"}}/{{ data.events.6.start|slice:"5:7"}}/{{ data.events.6.start|slice:"0:4"}} at {{ data.events.6.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.6 }}">
    			</label>
                {% endif %}
                {% if data.events.7 is not None and data.events.7.description == "" %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.7.start|slice:"8:10"}}/{{ data.events.7.start|slice:"5:7"}}/{{ data.events.7.start|slice:"0:4"}} at {{ data.events.7.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.7 }}">
    			</label>
                {% endif %}

            {% else %}
                {% if data.events.0 is not None %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.0.start|slice:"8:10"}}/{{ data.events.0.start|slice:"5:7"}}/{{ data.events.0.start|slice:"0:4"}} at {{ data.events.0.start|slice:"11:16"}}
    				<input type="radio" name="what-button" autocomplete="off" value="{{ data.events.0 }}">
    			</label>
                {% endif %}
    		    {% if data.events.1 is not None %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.1.start|slice:"8:10"}}/{{ data.events.1.start|slice:"5:7"}}/{{ data.events.1.start|slice:"0:4"}} at {{ data.events.1.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.1 }}">
    			</label>
                {% endif %}
                {% if data.events.2 is not None %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.2.start|slice:"8:10"}}/{{ data.events.2.start|slice:"5:7"}}/{{ data.events.2.start|slice:"0:4"}} at {{ data.events.2.start|slice:"11:16"}}
    				<input type="radio" name="what-button" autocomplete="off" value="{{ data.events.2 }}">
    			</label>
                {% endif %}
                {% if data.events.3 is not None %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.3.start|slice:"8:10"}}/{{ data.events.3.start|slice:"5:7"}}/{{ data.events.3.start|slice:"0:4"}} at {{ data.events.3.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.3 }}">
    			</label>
                {% endif %}
                {% if data.events.4 is not None %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.4.start|slice:"8:10"}}/{{ data.events.4.start|slice:"5:7"}}/{{ data.events.4.start|slice:"0:4"}} at {{ data.events.4.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.4 }}">
    			</label>
                {% endif %}
                {% if data.events.5 is not None %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.5.start|slice:"8:10"}}/{{ data.events.5.start|slice:"5:7"}}/{{ data.events.5.start|slice:"0:4"}} at {{ data.events.5.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.5 }}">
    			</label>
                {% endif %}
                {% if data.events.6 is not None %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.6.start|slice:"8:10"}}/{{ data.events.6.start|slice:"5:7"}}/{{ data.events.6.start|slice:"0:4"}} at {{ data.events.6.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.6 }}">
    			</label>
                {% endif %}
                {% if data.events.7 is not None %}
    			<label class="btn checkout-radio account-page-button"><span class="glyphicon glyphicon-ok"></span>  
    			{{ data.events.7.start|slice:"8:10"}}/{{ data.events.7.start|slice:"5:7"}}/{{ data.events.7.start|slice:"0:4"}} at {{ data.events.7.start|slice:"11:16"}}
    				<input type="radio" name="what-button"  autocomplete="off" value="{{ data.events.7 }}">
    			</label>
            {% endif %} 
        {% endif %}    	    
			
		</div>
	</div>

    <div id="cart-container">
        <h3 class="col-6 mx-auto text-center heading">Booking Details</h3>
    </div>

    <div id="credit-card-errors" style="display: none;">
        <div id="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <div class="form-group col-md-6">
        {{ order_form | as_bootstrap }}
    </div>

    <div class="form-group col-md-6">
        {{ payment_form | as_bootstrap }}
    </div>

    {% csrf_token %}
    <div class="form-group col-md-12">
        <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
</form>
{% endblock %}
