{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
{% csrf_token %}
    {% for item in cart_items %}
    <div id="cart-container">
        <h1 class="col-6 mx-auto text-center heading">{{ item.product.name }}</h1>
    </div>
    <br>
    <div class="container-fluid mx-auto text-center">
        <img id="cart-image" class="mx-auto" src="{{ MEDIA_URL }}{{ item.product.image }}"></img>
        <p class="col-lg-8 col-sm-12 text-center m-2" id="cart-text">{{ item.product.long_description }}</p>
        <h3 class="card-header form-header">€{{ item.product.price }} per session</h3>
        <a class="nav-link book-button col-8 mx-auto" href="{% url 'checkout' %}"><i class="far fa-bookmark"></i> Book Appointment</a>
    </div>
    {% endfor %}

{% endblock %}